.timer{
    display: flex;
}

.field{
   margin-left: 10px; 
   padding: auto;
   text-align: center;
}

.days-field{
margin-left: 0;
}

.value {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
